@import 'bootstrap/scss/bootstrap';

$background-start: rgba(255, 222, 97, 0.4);
$background-end: rgba(255, 125, 90, 0.4);

body {
  background: linear-gradient($background-start, $background-end);
  min-height: 100vh;
  margin: 0;
}
